aaAib1647967542Fig4C
analyse_DPNII_sites.R
DEGs.txt
dpn2metaSlice.tsv
draw_genomewide_100kbMatrix_Fig3A.R
drought_genes_425.tsv
drought_genes_695.tsv
drought_genes.tsv
DuApZ1648043145_plotsFig4C
EoYnc1648195429_plotsFig4C
EoYnc1648196502_plotsFig5
expression_of_geneGroups.R
expression_singlePlot.svg
fjeQY1648209630_SupplementalFig_5B
functions.html
functions__.R
functions_.R
GeneMatrix_draw_fig_3panelE.R
GeneMatrix_draw_fig4A.R
GeneMatrix_draw_SupplementalFig_5panelA.R
GeneMatrix_fromGEO_forFig3B.html
GeneMatrix_fromGEO_forFig3B.R
GeneMatrix_fromGEO_forFig3CD.R
GeneMatrix_fromGEO_forFig3E.html
GeneMatrix_fromGEO_forFig3E.R
GeneMatrix_fromGEO_forFig4A.R
GeneMatrix_fromGEO_forFig4C.R
GeneMatrix_fromGEO_forFig5.R
GeneMatrix_fromGEO_forSupplementalFig3AB.R
GeneMatrix_fromGEO_forSupplementalFig3C.R
GeneMatrix_fromGEO_forSupplementalFig4A.R
GhvTX1648049065_Fig5
gMpIw1648136307_FigSupp3AB
icebox2_Figures.html
icebox2_Figures.R
jVvpR1647862805_Fig3_BCD
markdown
priSY1647945644
PXQKZ1648137233_plotsFig5
readCounts_table.tsv
README.md
reproduce_Fig1and2.R
reproduce_Fig3B.R
reproduce_Fig3CD.R
reproduce_Fig3E_and_Supplemental_Fig3C.R
reproduce_Fig4A.R
reproduce_Supp_Fig5B.R
reproduce_Supplemental_Fig3C.R
Sectors_analyse_fromGEO_F4AB.R
Sectors_analyse_fromGEO_F4A.html
Sectors_analyse_fromGEO_F4C.R
Sectors_analyse_fromGEO_F5.R
SuWGS1647877702
Trainability_table.tsv
Xiuty1647965906_plotsFig4A
Xiuty1647966104_plotsFig4A
ZoXwG1647953492_plotsFig4A
zRgqy1648136797_plotsFig4C
zRgqy1648195639_plotsFig4C
zRgqy1648195904_plotsFig4C
zRgqy1648196407_plotsFig4C

